.rooms-container {
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  height: 750px;
  border: dashed #0769b2;
  padding: 5px;
  order: 1;
}

.floor-container{
  display: grid;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: 100%;
}

.options {
  margin-bottom: 10px;
}

@media screen and (min-width: 840px) {
  .floor-container{
    flex-direction: row;
    grid-template-rows: 100%;
    grid-template-columns: 70% 30%;
  }

  .rooms-container {
    order: 1;
  }

  .options {
    order: 2;
    margin-left: 20px;
    margin-bottom: 0;
  }
}
