<app-navigation (navigationEvent)="setNavigation($event)"></app-navigation>

<div class="floor-container" *ngIf="navigation">
  <app-room-options class="options" (filterEvent)="onFilterEvent($event)"
  ></app-room-options>
  <div class="rooms-container">
  <app-room class="room" *ngFor="let room of navigation.rooms;index as i"
            [filter]="filter"
            [buildingId]="navigation.buildingId"
            [floorId]="navigation.floorId"
            [roomId]="i"
  (selectedRoom)="onSelectedRoom($event)">
  </app-room>
  </div>
</div>
