<h2>Options</h2>
<label class="checkbox">
  <input value="Name" type="checkbox" [(ngModel)]="nameChecked" (change)="emitNameChecked()">
  Name
</label>
<label class="checkbox">
  <input value="Type" type="checkbox" [(ngModel)]="typeChecked" (change)="emitTypeChecked()">
  Type
</label>
<label class="checkbox">
  <input value="Capacity" type="checkbox" [(ngModel)]="capacityChecked" (change)="emitCapacityChecked()">
  Capacity
</label>
<label class="checkbox">
  <input value="Beamerchecked" type="checkbox" [(ngModel)]="beamerChecked" (change)="emitBeamerChecked()">
  Beamer
</label>
<label class="checkbox">
  <input value="Occupied" type="checkbox" [(ngModel)]="occupiedChecked" (change)="emitOccupiedChecked()">
  Occupied/Noise
</label>
