<div *ngIf="room" class="room-container">
  <div class="room-name">{{room.roomName}}</div>
  <form class="room-info" (ngSubmit)="saveRoom()" #roomForm="ngForm">
    <div class="input-container">
      <label class="input-label" for="room-name">Room name</label>
      <input id="room-name"  placeholder="Room name" type="text" name="room-name" required [(ngModel)]="room.roomName">
    </div>
    <div class="input-container">
      <label class="input-label" for="capacity">Capacity</label>
      <input id="capacity" placeholder="Capacity" type="number" name="capacity" required [(ngModel)]="room.capacity">
    </div>
    <div *ngIf="hasNoise()" class="input-container">
      <label class="input-label" for="noise">Noise</label>
      <div class="slider">
        <input type="range" min="0" [max]="room.capacity" [value]="room.noise" id="noise" name="noise" [(ngModel)]="room.noise">
      </div>
    </div>
    <div class="input-container">
      <label class="input-label" for="row">Row</label>
      <input id="row" placeholder="Row" type="number" name="row" [(ngModel)]="room.row">
    </div>
    <div class="input-container">
      <label class="input-label" for="column">Column</label>
      <input id="column" placeholder="Column" type="number" name="column" [(ngModel)]="room.column">
    </div>
    <div class="input-container">
      <label class="input-label" for="span-row">Span row</label>
      <input id="span-row" placeholder="Span row" type="number" name="span-row" [(ngModel)]="room.spanRow">
    </div>
    <div class="input-container">
      <label class="input-label" for="span-column">Span column</label>
      <input id="span-column" placeholder="Span column" type="number" name="span-column" [(ngModel)]="room.spanColumn">
    </div>
    <div class="input-container">
      <div class="radio-container">
        <div *ngFor="let roomtype of roomtypes" class="md-radio">
          <input id="{{roomtype}}" type="radio" name="roomtype" [value]="roomtype" [(ngModel)]="room.roomType">
          <label for="{{roomtype}}">{{roomtype | titlecase}}</label>
        </div>
      </div>
      <div class="radio-container">
        <div class="md-radio">
          <input id="beamer" type="radio" name="beamer" [value]=true [(ngModel)]="room.beamer">
          <label for="beamer">Beamer</label>
        </div>
        <div class="md-radio">
          <input id="no-beamer" type="radio" name="beamer" [value]=false [(ngModel)]="room.beamer">
          <label for="no-beamer">No beamer</label>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="enabled" [disabled]="!roomForm.form.valid" [class.disabled]="!roomForm.form.valid">
        Save room
      </button>
    </div>
  </form>
</div>

<div id="toast" [class.show]="toast">Room was updated</div>
