header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  background-color: transparent;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid white;
  height: 50px;
  border-radius: 12px;
  width: 200px;
}

button:hover {
  background-color: white;
  color: #447cb2;
}

footer {
  font-family: neon, Helvetica, sans-serif;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
}

.title {
  width: 100%;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
