body {
  text-decoration: none;
  user-select: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

h1 {
  color: #ffffff;
  font-family: 'Concert One', cursive;
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1;
}

h2 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

p {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

app-root {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "router-element"
    "footer";
}

@media screen and (min-width: 540px) {
  h1 {
    font-size: 4.5em;
  }
}
