<div class="selection">
  <div>
    <select [(ngModel)]="selectedBuilding" (ngModelChange)="onChangeBuilding($event)">
      <option *ngFor="let building of buildings;index as i" [ngValue]="i">
        {{ building.buildingName }}
      </option>
    </select>
  </div>

  <div *ngIf="floors">
    <select [ngModel]="selectedFloor" (ngModelChange)="onChangeFloor($event)">
      <option *ngFor="let floor of floors;index as i" [ngValue]="i">
        {{ floor.floorName }}
      </option>
    </select>
  </div>
</div>
