select {
  display: block;
  margin: 5px;
  font-size: 1em;
  background-color: transparent;
  color: #447cb2;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 12px;
}

select option {
  margin: 40px;
  background: #f3f3f3;
  color: #447cb2;
}

.selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
